/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100, 900|Roboto+Mono:100i&display=swap');

@import 'mixins';

body {
  font-family: "Roboto Mono", sans-serif;

  h1, h2, h4 {
    margin: 0;
  }

  .info-label {
    margin-right: 8px;
    font-weight: bold;
  }
  
  .block {
    margin: 16px;
  }

  .ui-block {
    padding: 16px;
    margin: 16px;
  }

  .btn {
    cursor: pointer;
    padding: 4px 8px;
  }

  #headline {
    @extend .block;
  }

  #sidebar {
    @extend .ui-block;
    font-family: "Montserrat";
  }

  #navigation {
    @extend .block;
    display: flex;
    margin-left: 8px;
  
    & > div {
      margin-left: 8px;
      margin-top: 8px;   
    }
  }
  
  #service-actions {
    display: flex;
    margin-left: -8px;
    & > div {
      margin-left: 8px;
      margin-top: 8px;   
    }
  }

  #service-info {
    @extend .ui-block;
    font-family: "Montserrat";
  }
  
  #node-info {
    @extend .ui-block;
    font-family: "Montserrat";
  }
}

body.theme-2 {
  $primary: #262625;
  $secondary: #262625;
  $background: #e1e3dd;

  @include scrollbars(3px, $secondary, $background);

  background: $background;
  color: $primary;

  h1, h2, h4 {
    color: $primary;
    // padding: 5px 8px;
    // margin: 16px 0px;
    // border-radius: 10px;
    // box-shadow: inset 6px 6px 15px #c2c3be , 
    //          inset -6px -6px 15px #fffffc;
  }

  .info-label {
    color: $primary;
  }

  .ui-block {
    border-radius: 10px;
    box-shadow:  6px 6px 15px #c2c3be, 
             -6px -6px 15px #fffffc;
  }

  .btn {
    border-radius: 5px;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 14px;
    box-shadow:  3px 3px 9px #c2c3be, 
             -3px -3px 9px #fffffc; 
            //  inset 3px 3px 5px #c2c3be, 
            //  inset -3px -3px 5px #fffffc;
    transition: box-shadow .1s ease-in;
  }

  #sidebar {
    color:$secondary;
  }

  #service-info {
    color:$secondary;
  }
  
  #node-info {
    color:$secondary;
  }
}

body.theme-1 {
  $primary: #0e9fe2;
  $secondary: #64ffea;
  $background: #000b13;

  @include scrollbars(3px, $secondary, $background);

  background: $background;
  color: $primary;

  h1, h2, h4 {
    color: $primary;
  }

  .info-label {
    color: $primary;
  }

  .title {
    &.primary {
      color: $primary;
    }
  }

  .ui-block {
    border: 1px solid $secondary;
  }

  .btn {
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 14px;
  
    &:hover {
      opacity: .9;
    }
  
    &.secondary {
      background-color: $secondary; 
      color: darken($primary, 20%);
    }
  }

  #sidebar {
    color:$secondary;
  }

  #service-info {
    color:$secondary;
  }
  
  #node-info {
    color:$secondary;
  }
}