/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100|Roboto+Mono:100i&display=swap');

body {
  font-family: "Roboto Mono", sans-serif;
  background: #000b13;
  color: #0e9fe2;
}

#main {
  
}